<div class=" text-center p-5" style="min-height: 90vh;">
  <div class="row p-5">
    <div class="p-5" *ngIf="!loggedIn">
      <div class="p-3 border bg-light rounded shadow">
         <h1 class="py-5">You must be logged in to play.</h1>
    <button class="btn btn-primary my-3" [routerLink]="'/login'">Login</button>
    <p class="py-3 fs-4">Let's go, you can't be serious all the time.</p>
    <p class="py-3 fs-4">Just have a break and relax a bit.</p>
    <p class="py-5 fs-4">😁😁😁</p>
      </div>
  </div>
  <div class="p-5" *ngIf="loggedIn">
    <div class="row">
      <div class="col-md-12">
        <h2>Chose Your game : </h2>
      </div>
      <div class="col-md-3"><button class="btn btn-warning" (click)="gameStarted=false;gioco='guess'">Guess</button></div>
      <div class="col-md-3"><button class="btn btn-danger" (click)="gameStarted=false;gioco='highest'">Who has the highest</button></div>
      <div class="col-md-3"><button class="btn btn-success" (click)="gameStarted=false;gioco='lowest'">Who has the lowest</button></div>
      <div class="col-md-3"><button class="btn btn-primary" (click)="gameStarted=false;gioco='same'">Same</button></div>
    </div>
    <div class="row" *ngIf="gioco=='guess'">
      <div class="col-md-12" *ngIf="gameStarted && gioco=='guess'"><h1>Time : {{minutes}} : {{seconds}}  Points : {{punteggio}}</h1></div>
<div class="col-lg-2 col-sm-3 col-4 py-5" *ngFor="let c of cards,index as i"   (click)="flip(c,i+1)">
  <div class="flip-card{{i+1}} p-3" [ngClass]="clockStarted?'flip-card':'flip-car'">
    <div class="flip-card-inner" >
      <div class="flip-card-front fs-1">
       <button class="btn fs-1">?</button>
      </div>
      <div class="flip-card-back">
        <div class="w-100 fs-1 m-auto fw-bold border bg-dark text-white py-3" style="min-height: 100px;">{{c.value}}
     </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 text-center p-2">
  <button class="btn fs-4" (click)="clockStarted=!clockStarted;flip()">Inizia il gioco</button>
</div>
    </div>
    <div class="row" *ngIf="gioco=='highest'||gioco=='lowest'||gioco=='same'">
      <div class="col-md-12" *ngIf="gameStarted">
        <h1>Who has the  <span *ngIf="gioco=='highest'">highest</span> <span *ngIf="gioco=='lowest'">lowest</span></h1>
        <h1>Game : {{gamePoints}} | {{user.username}} : {{userPoints}}</h1>
      <h2>Vincitore : {{winner}}</h2></div>
      <div class="col-md-6 p-3 border rounded shadow">
        <h2>Game:</h2>
        <div class="row">
        <div class="col-4 py-5" *ngFor="let c of gameCards" >
        <div class="w-100 fs-1 m-auto fw-bold border bg-dark text-white py-3" style="min-height: 100px;">{{c.value}}
  </div>
        </div>
      </div>
</div>
<div class="col-md-6 p-3 border rounded shadow">
  <h2>{{user.username}}:</h2>
  <div class="row">
<div class="col-4 py-5" *ngFor="let c of userCards" >
  <div class="w-100 fs-1 m-auto fw-bold border bg-dark text-white py-3" style="min-height: 100px;">{{c.value}}
</div>
</div>
  </div>
</div>
<div class="col-md-12 text-center p-2">
  <button class="btn fs-4" *ngIf="gioco=='highest'" (click)="giveCards('highest')">Gioca</button>
  <button class="btn fs-4" *ngIf="gioco=='lowest'" (click)="giveCards('lowest')">Gioca</button>
  <button class="btn fs-4" *ngIf="gioco=='same'" (click)="giveCards('same')">Gioca</button>
</div>
    </div>
  </div>
  </div>
</div>
