<div class=" text-center p-5">
  <div class="row p-5">
    <div class="p-5" *ngIf="!loggedIn">
      <div class="p-3 border bg-light rounded shadow">
         <h1 class="py-5">You must be logged in to play.</h1>
    <button class="btn btn-primary my-3" [routerLink]="'/login'">Login</button>
    <p class="py-3 fs-4">Let's go, you can't be serious all the time.</p>
    <p class="py-3 fs-4">Just have a break and relax a bit.</p>
    <p class="py-5 fs-4">😁😁😁</p>
      </div>
  </div>
  <div class="p-5" *ngIf="loggedIn">
    <div class="row p-3" *ngIf="!clockStarted">
      <div class="col-md-12" *ngIf="gameStarted"><h1>Time : {{minutes}} : {{seconds}}  Points : {{punteggio}}</h1></div>
<div class="col-lg-2 col-sm-3 col-4 p-5" *ngFor="let c of cards,index as i"   (click)="flip(c,i)">
  <div class="flip-car flip-card{{i}} p-3" >
    <div class="flip-card-inner" >
      <div class="flip-card-front fs-1">
       <button class="btn fs-3">?</button>
      </div>
      <div class="flip-card-back">
        <div class="w-100 fs-1 m-auto fw-bold border rounded-circle" *ngIf="c.cartType=='CIRCLE'"  [ngClass]="c.color=='black'?'text-danger':'text-dark'"
        [ngClass]="c.color=='black'?'border-black':'border-danger'">{{c.value}}
     </div>
     <div class="w-100 fs-1 m-auto fw-bold border" *ngIf="c.cartType=='CUBE'"  [ngClass]="c.color=='black'?'text-danger':'text-dark'"
        [ngClass]="c.color=='black'?'border-black':'border-danger'">{{c.value}}
     </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 text-center p-2">
  <button class="btn fs-4" (click)="clockStarted=!clockStarted;flip()">Inizia il gioco</button>
</div>
    </div>
    <div class="row p-3" *ngIf="clockStarted">
      <div class="col-md-12" *ngIf="gameStarted"><h1>Time : {{minutes}} : {{seconds}}  Points : {{punteggio}}</h1></div>
<div class="col-lg-2 col-sm-3 col-4 p-5" *ngFor="let c of cards,index as i"   (click)="flip(c,i)">
  <div class="flip-card flip-card{{i}} p-3" >
    <div class="flip-card-inner" >
      <div class="flip-card-front fs-1">
       <button class="btn fs-3">?</button>
      </div>
      <div class="flip-card-back">
        <div class="w-100 fs-1 m-auto fw-bold border rounded-circle" *ngIf="c.cartType=='CIRCLE'"  [ngClass]="c.color=='black'?'text-danger':'text-dark'"
        [ngClass]="c.color=='black'?'border-black':'border-danger'">{{c.value}}
     </div>
     <div class="w-100 fs-1 m-auto fw-bold border" *ngIf="c.cartType=='CUBE'"  [ngClass]="c.color=='black'?'text-danger':'text-dark'"
        [ngClass]="c.color=='black'?'border-black':'border-danger'">{{c.value}}
     </div>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
  </div>
</div>
