<div class="container text-center" style="min-height: 90vh;">
  <div class="row py-5 p-1">
<h1 class="py-2">Play for fun</h1>
<div class="col-md-12 bg-warning p-1 fs-4 border shadow rounded">
 <h2>A simply card game.</h2>
  <div class="row">
<div class="col-md-6">
  <h2 class="py-2">Rules :</h2>
  <ol>
    <li>30 cards will be displayed on the table, and you can click on one to show it and then found the equal card in the remaining 29.</li>
    <li>You have 2 minutes to found all the cards. Timer starts when you click on the first card.</li>
    <li>The game ends when time hits 0, or when you've discovered all the same cards.</li>
    <li>You can't discover more than one card at time.</li>
  </ol>
</div>
<div class="col-md-6">
  <h2>Nice to know :</h2>
  <p class="py-3">You</p>
  <p class="py-3">will</p>
  <p class="py-3">not</p>
  <p class="py-3">win</p>
  <p class="py-3">anything</p>
  <p class="py-3">😁</p>
</div>
  </div>
</div>
  </div>
</div>
