<nav class="w-100 bg-success text-white p-3 text-center ">
<div class="row">
  <div class="col-md-3"><a [routerLink]="'/home'" [routerLinkActive]="'text-danger'">Home</a></div>
  <div class="col-md-3"><a [routerLink]="'/gioco'" [routerLinkActive]="'text-danger'">Gioco</a></div>
  <div class="col-md-3"><a [routerLink]="'/stats'" [routerLinkActive]="'text-danger'">Statistiche</a></div>
  <div class="col-md-3"><a [routerLink]="'/login'" [routerLinkActive]="'text-danger'">Login</a></div>
</div>
</nav>
